.pseudo-link {
  background: transparent;
  appearance: none;
  outline: none;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
  border: none;

  &:not(:disabled) {
    color: var(--mantine-color-anchor);

    &:hover {
      text-decoration: underline;
    }
  }
}
